<!DOCTYPE html>
<html lang="en">
  <head>
	{{ css('https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/cyborg/bootstrap.min.css') }}
  </head>
  <body>
    <header class="header">
	<a href="/">
	  Home
	</a>
	<a href="{{ route('start', {  }) }}">
	  Start
	</a>
    </header>

    <div class="container">
        <app-root></app-root>
    </div>
  </body>
</html>