<div  class="row ">
    <div class="col-lg-3">
      </div>

  <div class="col-lg-6">
    <div class="card ">
      <div class="card-header ">
        S'enregistrer
      </div>
      <div class="card-body ">
        <form [formGroup]="registerForm" 
              (ngSubmit)="submitRegisterForm(registerForm.value)">
              <div class="invalid-feedback" *ngIf="!registerFormIsValid()">
                <ul>
                  <li *ngIf="!isValid('username')">Entrez au minimum 4 caractères</li>
                  <li *ngIf="!isValid('email')">Entrez un email valide</li>
                  <li *ngIf="!isValid('password')">Entrez au minimum 6 caractères</li>
                  <li *ngIf="!isValid('password-retype')">Entrez au minimum 6 caractères</li>
                </ul>
              </div>
              <label>Pseudo</label>
          <input 
              class="form-control" 
              type="text" 
              placeholder="username"
              [ngClass]="{'is-invalid':!isValid('username') && isTouched('username')}" 
              [(ngModel)]="username" 
              formControlName="username" 
          >
          <label>Email</label>

          <input 
            class="form-control" 
            type="text" 
            placeholder="Email"
            [ngClass]="{'is-invalid':!isValid('email') && isTouched('email')}" 
            [(ngModel)]="email" 
            formControlName="email" 
          >
          <label>Mot de passe</label>

          <input 
            [ngClass]="{'is-invalid':!registerForm.controls['password'].valid && isTouched('password') }" 
            class="form-control" 
            type="password" 
            [(ngModel)]="password" 
            formControlName="password" 
            placeholder="Mot de passe"
          >
          <input 
            [ngClass]="{'is-invalid':!registerForm.controls['password-retype'].valid && isTouched('password-retype') }" 
            class="form-control" 
            type="password" 
            [(ngModel)]="password-retype" 
            formControlName="password-retype" 
            placeholder="Retaper le mot de passe"
          >
          <button 
              [disabled]="!registerForm.valid" 
              class="btn btn-primary" 
              type="submit">S'inscrire</button>
        </form>
      </div>
    </div>
    <br/>
  </div>
  <div class="col-lg-3">
    </div>
  </div>