<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/">Hamateur</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a routerLink="/candidate" class="nav-link" href="#">Candidate</a>
      </li>
      <li class="nav-item">
        <a routerLink="/exam" class="nav-link" href="#">Examen</a>
      </li>
      <li class="nav-item">
      </li>
    </ul>
    <app-registered (onCandidateLogout)=" logout($event) " [candidate]="candidate "></app-registered>
  </div>
</nav>
<br/>
<br/>
<br/>
<br/>
<div class="container-fluid ">
  <div *ngIf="!candidate">
    <app-candidate (onCandidateChange)="refreshCandidate($event) " [candidate]="candidate "></app-candidate>
  </div>
  <div *ngIf="candidate ">
    <app-exam [candidate]="candidate"></app-exam>
  </div>
</div>