<div class="row ">
  <div class="col-lg-6 ">
    <div class="card ">
      <div class="card-header ">
        C'est votre première fois...
      </div>
      <div class="card-body ">
        <form [formGroup]="newCandidateForm " (ngSubmit)="newCandidate(newCandidateForm.value) ">
          <input [ngClass]="{'is-invalid':!newCandidateForm.controls['name'].valid && newCandidateForm.controls[ 'name'].touched } " class="form-control" type="text" [(ngModel)]="name" formControlName="name" placeholder="Entrez votre nom de candidat">
          <div class="invalid-feedback" *ngIf="!newCandidateForm.controls['name'].valid && newCandidateForm.controls[ 'name'].touched ">
            <ul>
              <li>Entrez au minimum 4 caractères</li>
            </ul>
          </div>

          <p *ngIf="name">Votre nom sera : <strong><i>{{ name }}</i></strong> continuer ?</p>
          <button [disabled]="!newCandidateForm.valid" class="btn btn-primary" type="submit">Commencer</button>
        </form>
      </div>
    </div>
    <br/>
  </div>
  <div class="col-lg-6 ">
    <div class="card ">
      <div class="card-header ">
        Vous avez déjà un numéro de candidat...
      </div>
      <div class="card-body ">
        <form [formGroup]="retrieveCandidateForm " (ngSubmit)="submitRetrieveCandidate(retrieveCandidateForm.value) ">
          <input [ngClass]="{'is-invalid':retrieveFormIsInvalid() } " class="form-control" type="text " [(ngModel)]="uuid " formControlName="uuid" placeholder="Numéro de candidat">
          <div class="invalid-feedback" *ngIf="retrieveFormIsInvalid()">
            <ul>
              <li *ngIf="errors.noCandidateFound">Aucun candidat avec ce numéro</li>
              <li *ngIf="!retrieveCandidateForm.controls[ 'uuid'].valid">Champs invalide. Vérifiez votre saisie</li>
            </ul>
          </div>

          <button [disabled]="!retrieveCandidateForm.valid" class="btn btn-primary " ngClick="retrieveCandidateForm() " type="submit ">Vérifier</button>
        </form>
      </div>
    </div>
  </div>