#questionLoader{
  margin:10px auto;
}

.list-group-item.success{
  background: #00cc7a;
}

.list-group-item.error{
  background: #cc0000;
}
.list-group-item i{
  float:right;
}

.list-group-item.success i{
  color: #00663d;

}

.list-group-item.error i {
  color: #660000;
}