<div *ngIf="!candidate" class="row">
    <button type="button" id="questionLoader" class="btn btn-primary disabled "> <i class="fa fa-spinner fa-3x fa-spin "></i></button>
  </div>

<div class="row" *ngIf="candidate">
  <div class="col-lg-3">
    <div class=" card ">
      <div class="card-header">
        Menu
      </div>
      <div class="card-body ">
        <a (click)="start('real')"  class="btn btn-primary btn-block" routerLink="/question" href="#">Examen en conditions réelles</a>
        <a (click)="start('simple')" class="btn btn-primary btn-block" routerLink="/question-free"href="#">Entrainement</a>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card">
      <div class="card-header">
        Bienvenue <i>{{candidate.username}}</i>
        <div class="float-right float-sm-right">
        </div>
      </div>
      <div class="card-body">
        <p  class="alert" *ngIf="status === 'ended'">EXAM ENDED</p>
      </div>
    </div>
    <br/>
  </div>
</div>
<!-- TODO : Component Exam list for this candidate, here 
<app-question *ngIf="mode === 'real' && status === 'started'" (onChangeStep)="changeStep($event)" (onExamIsEnded)="save($event)">
</app-question>
<app-question-free *ngIf="mode === 'simple' && status === 'started'" (onExamIsEnded)="setStatus('ended')"></app-question-free>
-->