<div class="row" *ngIf="status === 'pending' || status === 'ended'">
  <div class="col-lg-3">
    <div class=" card ">
      <div class="card-header">
        Menu
      </div>
      <div class="card-body ">
        <button class="btn btn-primary btn-block" (click)="start('real')" type="button">Examen en conditions réelles</button>
        <button class="btn btn-primary btn-block disabled" type="button">Entrainement</button>
      </div>
    </div>
  </div>
  <div class="col-lg-9">
    <div class="card">
      <div class="card-header">
        <h3>Bienvenue</h3>
        <small>
        </small>
        <div class="float-right float-sm-right">
        </div>
      </div>
      <div class="card-body">
        <h1 *ngIf="status === 'ended'">EXAM ENDED</h1>
        <div *ngIf="!candidate.new" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Bienvenue à toi, ami radio-amateur.</strong><br/> C'est ta première connexion ici, assure-toi de bien noter ton numéro unique quelque part, il servira pour te reconnecter plus tard !
          <hr/>
          <p>Quand tu seras prêts, tu pourras cliquer sur "Nouvel examen réel" pour commencer un examen en condition réel : 2 séries de 20 questions avec minuteur. Les autres modes sont en construction.</p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <p>
          Ton nom de candidat est <strong><i>{{candidate.name}}</i></strong><br/> Ton identifiant unique peut être copier/coller à partir du champs ci-dessous.<br/>
          <input class="form-control" type="text" placeholder="Readonly input here…" value="{{candidate.uuid}}" readonly>
        </p>
      </div>
    </div>
    <br/>
  </div>
</div>

<!-- TODO : Component Exam list for this candidate, here -->
<app-question *ngIf="status === 'started'" (onChangeStep)="changeStep($event)" (onExamIsStarted)="start($event)" (onExamIsEnded)="save($event)">
</app-question>