<div *ngIf="status === 'pending'" class="card">
  <div class="card-body">
    <h3>Welcome</h3>
    <p>Your candidate name is : {{candidate.name}}</p>
    <p>
      Write your personnal number somewhere<br/>
      <input class="form-control" type="text" placeholder="Readonly input here…" value="{{candidate.uuid}}" readonly>
    </p>
    <br/>
    <br/>
    <button class="btn btn-primary" (click)="start('real')" type="button">Nouvel examen réel</button>
    <button class="btn btn-primary" (click)="start('free')" type="button">Série de questions libre</button>
  </div>
</div>

<!-- Component Exam list for this candidate -->
<app-question *ngIf="status === 'started'" [exam]="this"></app-question>